h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
}

.items-conatiner {
  text-align: center;
}

.kg-row {
  margin: 10px 5px;
}

.to-do-container {
  text-align: center;
}